/build/
/.tools/
/downloads/
/sstate-cache/
/tmp/
/.local.env
/roms/*.rom
__pycache__/
/platform/*/build/
/platform/*/.Xil/
/platform/*/*.jou
/platform/*/*.log
/platform/*/sim/obj_dir*/
/platform/*/kernel/Module.symvers
/platform/*/kernel/modules.order
/platform/*/kernel/*.ko
/platform/*/kernel/*.mod
/platform/*/kernel/*.mod.c
/platform/*/kernel/.*.cmd
/platform/*/userspace/z486-main
/platform/*/userspace/z486-drm
/platform/*/userspace/test_z486_ide
/platform/*/userspace/test_z486_input
